langchain
langchain-openai
langchain-community
langchain-groq
chromadb 
streamlit
pandas
python-dotenv
selenium
bs4
sentence-transformers
tenacity
pysqlite3-binary
PyPDF2
python-docx
openpyxl
email_validator
pyrebase4==4.8.0
openai
pydantic>=2.0
